<div class="flex justify-center items-center">
  <article class="prose prose-sm">
    <h1>プライバシーポリシー</h1>

    <p>RUNTool（以下、「当方」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）におけるユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>

    <h2>お客様から取得する情報</h2>
    <p>当方は、お客様から以下の情報を取得します。</p>
    <ul>
      <li>氏名(ニックネームやペンネームも含む)</li>
      <li>メールアドレス</li>
      <li>外部サービスでお客様が利用するID、その他外部サービスのプライバシー設定によりお客様が連携先に開示を認めた情報</li>
      <li>本サービスの滞在時間、入力履歴、購買履歴等の本サービスにおけるお客様の行動履歴</li>
      <li>本サービスの起動時間、入力履歴、購買履歴等の本サービスの利用履歴</li>
    </ul>

    <h2>お客様から取得した情報の利用目的</h2>
    <p>当方は、お客様から取得した情報を、以下の目的のために利用します。</p>
    <ul>
      <li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
      <li>お客様の本サービスの利用履歴を管理するため</li>
      <li>本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
      <li>本サービスに関するご案内をするため</li>
      <li>お客様からのお問い合わせに対応するため</li>
      <li>当方の規約や法令に違反する行為に対応するため</li>
      <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
      <li>当方規約の変更等を通知するため</li>
      <li>以上の他、本サービスの提供、維持、保護及び改善のため</li>
    </ul>

    <h2>安全管理のために講じた措置</h2>
    <p>当方が、お客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</p>

    <h2>第三者提供</h2>
    <p>当方は、お客様から取得する情報のうち、個人データ（個人情報保護法第２条第６項）に該当するものついては、あらかじめお客様の同意を得ずに、第三者（日本国外にある者を含みます。）に提供しません。 但し、次の場合は除きます。</p>
    <ul>
      <li>個人データの取扱いを外部に委託する場合</li>
      <li>当方や本サービスが買収された場合</li>
      <li>事業パートナーと共同利用する場合（具体的な共同利用がある場合は、その内容を別途公表します。）</li>
      <li>その他、法律によって合法的に第三者提供が許されている場合</li>
    </ul>
    <h2>プライバシーポリシーの変更</h2>
    <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>

    <h2>お問い合わせ</h2>
    <p>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の場合は、お問い合わせよりご連絡ください。</p>
    <p>お問い合わせ先</p>
    <a><%= link_to "お問合せ", "https://docs.google.com/forms/d/e/1FAIpQLSdGrL0NsKHLDJSA9OIgUb7cOMRh_dfUjrlI-WF_Irhk4h3WgA/viewform?usp=sf_link", class:"mr-4" %></a>
    <p>以上</p>
    <p>2023年04月01日 制定</p>
  </article>
</div>