
<footer class="footer items-center p-4 bg-neutral text-neutral-content">
  <div class="items-center grid-flow-col">
    <p>Copyright © 2023 - All right reserved</p>
  </div> 
  <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a><%= link_to "利用規約", terms_path %>
    </a> 
    <a><%= link_to "プライバシーポリシー", policy_path %></a>
    <a><%= link_to "お問合せ", "https://docs.google.com/forms/d/e/1FAIpQLSdGrL0NsKHLDJSA9OIgUb7cOMRh_dfUjrlI-WF_Irhk4h3WgA/viewform?usp=sf_link" %></a>
  </div>
</footer>
